<html>
    <body>
        <form method="post"  >
            CurrentPassword : <input type="text" name="txt1"><br>
            NewPassword : <input type="text" name="txt2"><br>
            ConfirmPassword : <input type="text" name="txt3"><br>
            <input type="submit">
            <a href="/changepass"></a>
        </form>
    </body>
</html>