<html>
    <body>
        <form method="post"  >
            Email : <input type="text" name="txt1"><br>
            Password : <input type="text" name="txt2"><br>
            <input type="submit">
            <a href="/signup"></a>
        </form>
    </body>
</html>